<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="over"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <app-sidenav (linkClicked)="sidenav.toggle()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar
      (menuClicked)="sidenav.toggle()"
      (logoutClicked)="logout()"
    ></app-toolbar>
    <div class="container mt-2 with-footer">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
